/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.gridItem {
  height: 200px;
  border: solid;
  border-color: black;
}

.yellowItem {
  background-color: yellow;
}

.blueItem {
  background-color: blue;
}

.redItem {
  background-color: red;
}

.brownItem {
  background-color: brown;
}

.purpleItem {
  background-color: purple;
}
.whiteItem {
  background-color: white;
}
.greenItem {
  background-color: green;
}
.pinkItem {
  background-color: pink;
}